{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container content">
    <div class="row justify-content-center">
        <div style="display: inline-block; width: 400px; ">
            <form class="bootstrap-form text-center" method="post">
                <br>
                {% csrf_token %}

                {% if form.error %}
                    {{ error }}
                {% endif %}
                <br>

                {{ form | crispy }}

                <input type="submit" class="btn btn-primary" value="Войти" >
                <a class="btn btn-outline-primary" href="{% url 'register' %}">Регистрация</a>

                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
