{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container content">
    <div class="row justify-content-center" >
        <div class="col-sm">

        </div>
        <div class="col-lg" style="width: 300px;">
            <br>
            <h2>Регистрация</h2>
            <br>

            <form class="bootstrap-form text-center" method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" class="btn btn-success" value="Следуй за Томасом!">
                <br>

            </form>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
{% endblock %}
