<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_66948658c7d3e49929ee09882b92b278 {
                    position: relative;
                    width: 550.0px;
                    height: 250.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_66948658c7d3e49929ee09882b92b278" ></div>
        
</body>
<script>
    
    
            var map_66948658c7d3e49929ee09882b92b278 = L.map(
                "map_66948658c7d3e49929ee09882b92b278",
                {
                    center: [15.324545, 23.546774],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_06b7ffd2bf57215b2cd1e6abfe8eb977 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_66948658c7d3e49929ee09882b92b278);
        
    
            var marker_c1120760e1ef5f8e5661d78a8c5bbdc0 = L.marker(
                [15.324545, 23.546774],
                {}
            ).addTo(map_66948658c7d3e49929ee09882b92b278);
        
    
            var icon_656001d25c37acbe809c359cd8bb522c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_c1120760e1ef5f8e5661d78a8c5bbdc0.setIcon(icon_656001d25c37acbe809c359cd8bb522c);
        
    
        var popup_ef95306df45083bc8e18c44be4ebd870 = L.popup({"maxWidth": "100%"});

        
            
                var html_79043ec6a6c0fc3e1637921cf96dc012 = $(`<div id="html_79043ec6a6c0fc3e1637921cf96dc012" style="width: 100.0%; height: 100.0%;"></div>`)[0];
                popup_ef95306df45083bc8e18c44be4ebd870.setContent(html_79043ec6a6c0fc3e1637921cf96dc012);
            
        

        marker_c1120760e1ef5f8e5661d78a8c5bbdc0.bindPopup(popup_ef95306df45083bc8e18c44be4ebd870)
        ;

        
    
    
            marker_c1120760e1ef5f8e5661d78a8c5bbdc0.bindTooltip(
                `<div>
                     السودان
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>