{% extends 'base.html' %}

{% load static %}

{% block title %}Категории{% endblock %}

{% block content %}

{% if not snap_filter %}
    <div class="col-sm text-center" style="width: 600px" >
        <details>
            <summary>Создать новую категорию</summary>
            <br>
            <form method="post" class="text-center">
                {% csrf_token %}

                <div class="form-outline text-center">
                    <input type="text" name="new_category" id="new_category" class="form-control"/>
                    <label class="form-label" for="new_category">Название </label>
                </div>
                <button class="btn btn-sm btn-success" type="submit">Создать</button>
            </form>

        </details>
    </div>

    {{ message }}
    <hr>

    {% for cat in cats %}
        {% if forloop.first %}<div style="float:left;">{% endif %}
            <a href="{% url 'show_cat' cat.slug %}" color="green"><h3>{{ cat }}</h3></a>
        {% if forloop.counter|divisibleby:3 %}
            </div><div style="float:left">
        {% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}

{% else %}
    <div class="cat_snaps text-center">
        <h2>категория "<b><em>{{ cat_name }}</em></b>" ({{ cat_name.snap_count }} фото)</h2>
        {% if snaps %}
        {% for snap in snap_filter.qs %}
            <div class="card">
                <div class="card-body post">
                    <div class="post-title">
                        <div class="post-author">
                        {% if snap.author.profile.avatar.name %}
                            <a href="{% url 'profile' snap.author.profile %}">
                            <img src="{{ snap.author.profile.avatar.url }}" class="post-author-img img-thumbnail" width="50px" height="50px">
                            </a>
                        {% else %}
                            <a href="{% url 'profile' snap.author.profile %}">
                            <img src="{% static 'img/defaultava.png' %}" class="post-author-img img-thumbnail" width="50px" height="50px">
                            </a>
                        {% endif %}
                        Автор: {{ snap.author.profile }}
                        </div>
                    </div>

                    {% if snap.photo.name %}
                        <a href="{% url 'show_snap' snap.pk %}">
                        <img src="{{ snap.photo.url }}" class="img-thumbnail" width="300px" height="200px">
                        </a>
                        <br>
                    {% endif %}
                    <div class="post-datetime">
                        {{ snap.timestamp|date:"d M Y H:i" }}
                    </div>
    {#            </div>#}
                </div>
            </div>
        {% endfor %}

        {% else %}
            <div>
                <h3>В этой категории нет фотографий...</h3>
                <a class="btn btn-outline-primary" href="{% url 'cats' %}">Назад</a>
            </div>
        {% endif %}
    </div>

{% endif %}

{% endblock %}


{% block rightside %}
    {% include 'photon/blocks/filter.html' %}
{% endblock %}

