{% extends 'base.html' %}

{% load static %}

{% block title %}Feed{% endblock %}

{% block content %}
<br>
<div class="feed">
    {% if snap_filter.qs %}
        <div class="row">
        {% if not request.user.is_authenticated %}
            <h4>Чтобы видеть все фото -> Войдите или Зарегистрируйтесь!</h4>    <br>
        {% endif %}

        <h2>Последние обновления:</h2>
        </div>

        {% for snap in snap_filter.qs %}
        <hr>
        <div class="row">
                <div class="col-6 text-center">
                    <div>ID: {{ snap.pk }}</div>
                    {% if snap.photo.name %}
                        <a href="{% url 'show_snap' snap.pk %}">
                            <img src="{{ snap.photo.url }}" class="img-thumbnail" width="300px" height="300px">
                        </a>
                        <br>
                    {% endif %}
                        <div class="post-datetime">
                            {{ snap.timestamp|date:"d M Y H:i" }}
                        </div>
                </div>

                <div class="col-6">
                    <div class="post-title">

                        <div class="post-author text-center">
                            <a href="{%  url 'profile' snap.author.profile %}">{{ snap.author.profile }}</a>
                        </div>

                        <div class="text-center">
                        {% if snap.author.profile.avatar.name %}
                            <a href="{% url 'profile' snap.author.profile %}">
                                <img src="{{ snap.author.profile.avatar.url }}" class="post-author-img img-thumbnail" width="100px" height="100px">
                            </a>
                        {% else %}
                            <a href="{% url 'profile' snap.author.profile %}">
                                <img src="{% static 'img/defaultava.png' %}" class="post-author-img img-thumbnail" width="100px" height="100px">
                            </a>
                        {% endif %}
                        </div>


                        <hr>

                        <div class="post-text">
                            <em>{{ snap.description|default_if_none:"" }}</em>
                            <hr>
                            Камера: {{ snap.camera }}
                            <br>
                            Категории:
                            {% for cat in snap.category.all %}
                                <a href="{% url 'show_cat' cat.slug %}">{{ cat }}, </a>
                            {% endfor %}
                            <br>
                            Местоположение:
                            {% if snap.city %}{{ snap.city }} | {% else %}- | {% endif %}
                            {% if snap.region %}{{ snap.region }} | {% else %}- | {% endif %}
                            {% if snap.country %}{{ snap.country }}{% else %}-{% endif %}
                        </div>
                    </div>
                </div>
        </div>

        {% endfor %}

    {% else %}
        <div>
        {% if not subs.subscriptions and not subs.categories and not subs.cameras %}
            <h4>Вы ни на кого не подписаны(</h4>
        {% else %}
            <h4>Пока обновлений нет</h4>
        {%  endif %}
        </div>
    {% endif %}
</div>


{% endblock %}

{% block rightside %}
    {% include 'photon/blocks/filter.html' %} {# или нафиг и оставить в navbar?? #}
{% endblock %}