{% extends 'base.html' %}
{% load static %}

{% block title %}{{ photo.description }}{% endblock %}

{% block content %}
<div class="container content">
    {% if  not your_profile %}
    <div class="row" style="margin-left: 20px;">

        <div class="col-3">

                {% if selected_user.avatar.name %}
                    <a href="{% url 'profile' snap.author.profile %}"></a>
                    <img src="{{ snap.author.profile.avatar.url }}" class="post-author-img img-thumbnail" width="100px" height="100px">
                    </a>
                {% else %}
                    <a href="{% url 'profile' snap.author.profile %}"></a>
                    <img src="{% static 'img/defaultava.png' %}" class="post-author-img img-thumbnail" width="100px" height="100px">
                    </a>
                {% endif %}

        </div>
        <div class="col-3">
            <a href="{% url 'profile' selected_user %}"><em><h2>{{ selected_user }} </h2></em></a>
        </div>
        <div class="col-6"></div>

    </div>
         <hr>
    {% endif %}



    <div class="row">
        <div class="col-6">
            {% if snap.photo.name %}
                <img src="{{ snap.photo.url }}" class="img-thumbnail" width="300px" height="300px">
            {% endif %}
        </div>

        <div class="col-6 snap-text" style="font-size: 18px">
            <br>
            {{ snap.description|default_if_none:"" }}
            <hr>
            Камера: {{ snap.camera }} <br>
            Категории:
            {% for cat in snap.category.all %}
              {{ cat }},
            {% endfor %}
            <br>
            Люди:
            {% for pers in snap.person.all %}
              {{ pers }},
            {% endfor %}
            <br>
            Местоположение:
            {% if snap.city %}{{ snap.city }} | {% else %}- | {% endif %}
            {% if snap.region %}{{ snap.region }} | {% else %}- | {% endif %}
            {% if snap.country %}{{ snap.country }}{% else %}-{% endif %}
        </div>
    </div>
    <br>

    <div class="row edit_snap">
        <div class="col-3 text-center">
            <a href="{% url 'edit_snap' snap.pk %}" color="green">Редактировать</a>
        </div> |
        <div class="col-3 text-center">
            <a href="{% url 'delete_snap' snap.pk %}" color="red">Удалить</a>
        </div>
        <div class="col-6"> </div>
    </div>
    <hr>

    <div class="row">
        <div class="col">
            {% include 'photon/blocks/map.html' %}
        </div>
    </div>
</div>
{% endblock %}