{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}UPLOAD{% endblock %}

{% block content %}
<div id="upload_snap" style="text-align: center">
    <div style="display: inline-block; width: 400px">
    <form class="bootstrap-form text-center" method="post"  enctype="multipart/form-data">
        {% csrf_token %}

        {{ form | crispy }}

        <input type="submit" class="btn btn-success" value="Добавить">
        <br>
    </form>
    </div>
</div>
{% endblock %}